<div class="contact_w3agile">
  <div class="container">
    <h2 class="title w3">Contacto</h2>
    <div class="strip"></div>
    <ul>
      <li><a class="fb-icon1" href="#"></a></li>
      <li><a class="fb-icon2" href="#"></a></li>
      <li><a class="fb-icon3" href="#"></a></li>
      <li><a class="fb-icon4" href="#"></a></li>
      <li><a class="fb-icon5" href="#"></a></li>
    </ul>
    <form action="#" method="post">
      <input type="text" value="Name" name="Name" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Name';}">
      <input type="email" value="Email" name="Email" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='Email';}">
      <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}" required="">Message</textarea>
      <div class="con-form text-center">
        <input type="submit" value="Send">
      </div>
    </form>
    <p class="agileinfo">&copy; 2018 Pharmacy Premier Health . All rights reserved | Developed by <a href="http://qubitmarketing.com">Qubit Marketing</a></p>
  </div>
</div>